.profile_icon_container {
  position: relative;
}

.profile_card {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 350px;
  z-index: 1000;
}

.profile_card p {
  margin: 5px 0;
  font-size: 14px;
}

.profile_card_button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #0b7a4a;
  border: 1px solid #0b7a4a;
  color: white;
  border-radius: 100%;
  padding: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn_action_con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
